/* IMPOSTAZIONI GENERALI */
body {
  width: 500px;

  background-image: url(sfondo.png);
  font-family: "poppins";
  margin-left: auto;
  margin-right: auto;
}
/* HEADER */
header div {
  width: 80%;
  height: 400px;
  margin: 30px auto;
  background: rgb(110, 195, 254);
  background: linear-gradient(
    0deg,
    rgba(0, 100, 153, 0.9976365546218487) 1%,
    rgba(35, 163, 230, 0.9976365546218487) 94%,
    rgba(110, 195, 254, 0.9528186274509804)
  );
  box-shadow: 5px 5px 5px gray;
}
header div img {
  width: 60%;
  margin: 70px 80px 0;
}
header div h1 {
  text-align: center;
  margin-top: 45px;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}
header div ul {
  text-align: center;
  margin-top: 15px;
}
header div li {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
}
header div li a {
  color: white;
  overflow: hidden;
  text-decoration: none;
}
/* MAIN */
#box {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid transparent;
  padding: 50px 25px 0;
  box-shadow: 0px 3px 10px -2px black;
}
/* ELEMENTI NEL MAIN - ARTICLE */

h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
}
p {
  font-family: "poppins";
}
#icone-superiori {
  margin-top: 35px;
}
#icone-superiori i {
  margin: 0 5px;
}
#icone-superiori p,
i {
  color: gray;
}
#sotto-icone {
  margin-top: 25px;
}
#sotto-icone a {
  overflow: hidden;
  text-decoration: none;
  color: purple;
}
#paragrafo-1 {
  margin-top: 20px;
}
#prima-lista {
  margin-top: 15px;
}
#prima-lista ul {
  list-style: disc;
  padding-left: 25px;
}
#prima-lista li {
  padding-top: 5px;
  line-height: 1.5em;
  font-weight: 500;
}
#prima-lista span {
  background-color: #e4e1e3;
  border-radius: 5px;
  border: 1px solid darkgray;
}
#paragrafo-2 {
  margin-top: 20px;
}
#paragrafo-2 a {
  overflow: hidden;
  text-decoration: none;
  color: darkmagenta;
}
#seconda-lista {
  margin-top: 15px;
}
#seconda-lista ol {
  list-style: decimal;
  padding-left: 25px;
}
#seconda-lista li {
  padding-top: 5px;
  line-height: 1.5em;
}
#paragrafo-3 {
  margin-top: 20px;
}
/* TABELLE */
#box-tabella {
  margin-top: 30px;
}
#tabella {
  border-bottom: 2px solid #3366cc;
  width: 100%;
  height: 300px;
  vertical-align: middle;
}
#tabella caption {
  font-style: italic;
  font-weight: 600;
}
#tabella tr {
  text-align: center;
}
#tr1 {
  background-color: #3366cc;
  color: white;
}
#column-2 {
  border-left: 1px dotted darkgray;
  border-right: 1px dotted darkgray;
}
.tr2-4 {
  background-color: #e4e1e3;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}
#paragrafo-4 {
  margin-top: 30px;
  font-size: large;
  line-height: 1.4em;
}
#parafgrago-4 a {
  color: #169cc5;
  overflow: hidden;
}
#iframe {
  width: 100%;
  margin-top: 25px;
  border-radius: 2rem;
  height: 15rem;
}
/* ELEMENTI NELL' ASIDE */
/*FORM */
#box-novità {
  background-color: #e4e1e3;
  margin-top: 30px;
  height: 15rem;
  text-align: center;
  padding: 0 30px;
}
#box-novità h3 {
  padding: 20px 0 40px;
  font-size: 1.5em;
  font-weight: 600;
}
#box-novità p {
  font-size: 1.2em;
  line-height: 30px;
  font-weight: 400;
}
#box-novità input {
  width: 60%;
  border: none;
  border-bottom: 2px dotted black;
  margin-top: 25px;
  font-size: large;
}
#box-novità button {
  width: 100px;
  font-size: large;
  background-color: #3366cc;
  color: white;
  height: 26px;
  border: none;
}
#articoli-correlati {
  margin-top: 50px;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}
.art {
  background-color: #e4e1e3;
  border: 1px solid darkgray;
  padding-top: 20px;
  padding-left: 15px;
  margin-bottom: 20px;
  height: 6rem;
}
.art p {
  margin-bottom: 5px;
}
.art p a {
  color: #169cc5;
}
.art i {
  margin-right: 5px;
  color: black;
}

.data {
  padding-left: 175px;
  padding-top: 30px;
}

/* FOOTER */
footer {
  width: 80%;
  margin: 2em auto;
  background: rgb(48, 48, 48);
  background: linear-gradient(
    0deg,
    rgba(48, 48, 48, 1) 0%,
    rgba(0, 85, 102, 1) 80%
  );
  height: 9em;
  text-align: center;
  color: white;
  padding-top: 1em;
  box-shadow: 0px 3px 10px -2px black;
}
#footer-p1 {
  margin-bottom: 1.5em;
}
#footer-p2 {
  line-height: 1.3em;
}
#footer-p3 {
  padding-top: 0.3em;
}
#footer-p3 a {
  color: #fe02ff;
}
